#sumlist {
    display: inline-block;
}

#payoutlist {
    display: inline-block;
}

td {
    border: 2px solid;
    width: 1em;
}

h3 {
    margin: auto;
}

.jackpot {
    color: red;
}

#jackpot {
    display: block !important;
    color: red;
}

.best-line {
    background-color: greenyellow;
}

.radioClass {
    margin: auto;
    margin-left: 18px;
    text-align: center;
}

.picked {
    color: red;
}

#picked {
    display: none !important;
}

.numDisplay {
    display: none;
    text-align: center;
}

.numPick {
    display: block !important;
}

td {
    width: 50px;
    height: 50px;
}

.lineChoice {
    display: none;
}

.p2 {
    display: block !important;
}