#sumlist {
    display: inline-block;
}

#payoutlist {
    display: inline-block;
}

td {
    border: 2px solid;
    width: 1em;
}

h3 {
    margin: auto;
}

.jackpot {
    color: red;
}

#jackpot {
    display: block !important;
    color: red;
}

.best-line {
    background-color: greenyellow;
}

.radioClass {
    margin: auto;
    margin-left: 18px;
    text-align: center;
}

.picked {
    color: blue;
}

#picked {
    display: none !important;
}

.numDisplay {
    display: none;
    text-align: center;
}

.radioHide {
    display: none;
}

.numPick {
    display: block !important;
}

td {
    width: 50px;
    height: 50px;
}

.lineChoice {
    display: none;
}

.p2 {
    display: revert !important;
    opacity: 1 !important;
}

.labelClass:hover {
    background-color: lightskyblue;
    border-radius: 100%;
}

.end {
    display: block !important;
}

.e {
    display: none !important;
}

#endstats {
    display: inline-block !important;
    border: 2px solid;
    padding: 10px;
}

.lineChoice {
    display: none;
}

.arrowCell {
    display: none;
    text-align: center;
}

.arrowCell .arrowButton input[type="radio"]:checked+label {
    background-color: blue;
    border-radius: 100%;
}

.labelClass {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}